body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
